<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='CSS/reg.css')}}"
    />
    <title>Sign up</title>
  </head>
  <body>
    <a href="{{url_for('sign_in')}}"><button>Sign in</button></a>
    {%if error%}
    <h2>{{error}}</h2>
    {%endif%}
    <form method="post">
      <input name="login" type="text" placeholder="Login" />
      <p></p>
      <input name="password" type="password" placeholder="Password" />
      <p></p>
      <input name="confirm" type="password" placeholder="Confirmate password" />
      <p></p>
      <button type="submit">Sign up</button>
    </form>
  </body>
</html>
